* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #5c5c5c;

}

body {
    background-color: #FFF;
    font-family: sans-serif;
    font-size: 17px;
}

body{
    padding: 0px;
    margin: 0px;
}

.div-1{
    display: flex;
    width: 1920px;
    height: 60px;
    background-color: #FFF;
}

.div-2{
    width: 1908px;
    height: 48px;
}

.topo{
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

.topo a{
    float: right;
    padding-left: 8px;
    padding-top: 30px;
    flex-direction: row-reverse;
    color: #000000DE;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration: none;
  
}

.topo a:hover{
    text-decoration: underline;
}

.topo img{
    float: right;
    padding-left: 8px;
    padding-top: 25px;
    flex-direction: row-reverse;
    padding-bottom: 5px;
}

.logo{
    width: 1920px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}


input {
    width: 600px;

    padding: 14px;
    margin-top: 15px;
    font-size: 21px;
    border: 1px solid #e6dddd;
    border-radius: 32px;
    outline: none;
}

input:hover {
    box-shadow: 0px 1px 1px #8b8b8b;
}

.clock {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    margin-right: 12px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;

}

.clock:hover {
    border: 1px solid #e1e6ec;
    box-shadow: 0px 2px 1px #f8f9fa;
}

.offered {
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

.offered a {
    color: #1A0DAB;
}

.offered p {
    margin-top: -40px;
    margin-bottom: 40px;
}
footer {
    display: flex;
    background-color: #f2f2f2;
}

footer p {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-pais a {
    text-decoration: none;
    margin-right: 40px;
    padding:15px;
}

.info-pais {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #0000008a;
}

footer .footer-pais {
    display: flex;
    margin-top: 67px;
}



