body{
    margin: 0px;
}

.box{
    font-size: 60px;
    color: #3333ff;
    background-color: #000;
    width: 50vw;
    height: 8vw;
}

h1{
    font-size: 30px;
}

.box h1{
    font-size: inherit
}