*{
    font-family: 'Niconne', cursive;
    font-size: 25px;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-image: url('../images/932313.jpg');
    background-repeat:no-repeat;
    background-size: cover;
   
    
}

.zebra{
    /*245px*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    
}

.zebra h1{
    padding-left: 65px;
    font-size: 55px;
}

table{
    width: 900px;
    height: 600px;
    margin-top: 15px;
    

     
}

table thead{
    background-color: #FFF;
    font-weight:bolder;
    padding: 25px;

}

th, td{
    padding: 25px;
    text-align: left;
    align-items: center;

}

th, td:hover{
    font-family: 'PT Sans Narrow', sans-serif;

}

tbody tr:nth-child(odd){
    background-color: #000;
    color: #FFF;
}

tbody tr:nth-child(even){
    background-color: #FFF;
}
