@media (aspect-ratio: 1/1){
    body{
        background-color: #00ccff;
    }
}
@media (min-aspect-ratio: 2/1){
    body{
        background-color: #99ff99;
    }
}
@media (max-aspect-ratio: 3/1){
    body{
        background-color: #ff6600;
    }
}