.container{
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #3333cc;
}



.container div{
    width: 100px;
    height: 100px;
    background-color: #ff3300;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
