*{
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color: #000;
}

.menu{
    display: block;
    width: 100vw;
    height: 7vw;
    background-color: #1D428A;
    padding: 15px;
    padding-bottom: 5px;
}

.logo{
    width: 95px;
    height: 95px;
    margin-left: 615px;
}

img{
    
    width: 45px;
    height: 45px;
    margin-left: 8px;
    text-align: right;
    
    
}

/*
a{
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
    margin-left: 16px;

}
*/

a:hover{
    color: #800000;
    width: 91px;
    height: 43px;
}

.links{
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
    margin-left: 16px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
}

.conteudo{
    height: 100vh;
    background-color: #000;
}

.noticias-do-dia{
    background-color: #000;
    width: 100vw;
    height: 4vw;
    margin-top: 18px;
    font-family: 'Rubik', sans-serif;
}

h1{
    margin-left: 400px;
    font-size: 35px;
    color: #FFF;
}

.noticias{
    background-color: #000;
    margin-left: 270px;
    width: 70vw;
    height: 80vh;
}

.noticia1{
    margin: 0px;
    
    width: auto;
    height: auto;
}

.noticia1:hover{
    width: 810px;
    height: 460px;
}

h2{
    color: #FFF;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}



.link1{
    margin-top: 10px;
    font-size: 28px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.link1:hover{
    color: #3333ff
}

.historia{
    background-color: #000;
    margin-left: 270px;
    width: 70vw;
    height: 80vh;

}

.texto{
    color: #FFF;
    font-size: 30px;
    color: #3333ff;
    font-family: 'Rubik', sans-serif;
}

