body{
    margin: 0;
    background: #2F3136;
}


.maior{
    width: 600px;
}

.git{
    border: none;
}

.Docker{
    border: none;
}

a:hover{
    background:  #000 100%;
}


.abas{
    padding: 150px 150px 150px 150px;
    display: inline-block;
    
}

.ti{
   color: #FFF;
}

.image{
    width: 32;
    
}

.cima{
    border-bottom: 2px solid #000;
}

.baixo{
    border-bottom: 2px solid #000;
}