{{>partials/header}}
        
        {{#senha}}
            <h1>Senha falsa</h1>
        {{/senha}}
        <p>Opa, tudo bem {{ user.name }}, voce já tem {{ user.age }} anos?</p>

        {{#showOld}}
            Como vai a vida?
        {{/showOld}}

        <hr/>

        <h2>Produtos</h2>

        <ul>
            {{#products}}
                <li>{{ title }} - R$ {{ price }}</li>
            {{/products}}
        </ul>

        <h2>Produtos a partir de R$ 12</h2>

        <ul>
            {{#expensives}}
                <li>{{ title }} - R$ {{ price }}</li>
            {{/expensives}}
        </ul>

        <hr/>

        <ul>
            {{#listas}}
                <li>{{.}}</li>
            {{/listas}}

            {{^listas}}
                Não a nada na lista
            {{/listas}}

        </ul>
    
{{>partials/footer}}   