{{>partials/header}}
    <h1>Qual ano você nasceu?</h1>

    <form method="GET">
        <input type="number" name="ano" placeholder="digite o ano de nascimento"/><br/>

        <input type="submit" value="Enviar"/>
    </form>

    <hr/>

    {{#mostrarIdade}}
        Você tem {{idade}} anos.
    {{/mostrarIdade}}
    
{{>partials/footer}}   