@include('partials/header')
        <main>
            <code>
                Para imprimir uma variavel que vem do controller
                você vai usar o código assim @{{variavel}}
                <br>
                {{{script}}}
            </code>
        </main>
@include('partials/footer')