*{
    box-sizing: border-box;

}

body{
    margin: 50px;
    font-size: 20;
    background-color: #000;
}

h1{
    font-size: 80px;
    font-family: 'Chewy', cursive;
    color: #1C9729;
    text-align: center;
}

h2{
    font-size: 80px;
    font-family: 'Chewy', cursive;
    color: #971C1C;
    text-align: left;
}

.right{
    font-size: 80px;
    font-family: 'Chewy', cursive;
    color: #6600ff;
    text-align: right;
}

.justify{
    font-size: 80px;
    font-family: 'Chewy', cursive;
    color: #804000;
    text-align: justify;
    
}

p{
    color: #0000FF;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Chewy', cursive;
    text-align:justify;
    
}

a{
    text-decoration: none;
    color: #0000FF;
    
}

a:hover{
    text-decoration: underline;
    color: #1C9729;
}

