*{
    box-sizing: border-box;

}

body{
    margin: 0px;
    font-size: 45px;
    /*
    font-family: 'Chewy', cursive;
    */
    font-family: 'Charmonman', cursive;
    
}

h1:hover{
    color: #3366ff;
}