*{
    box-sizing: border-box;

}

body{
    margin: 50px;
    font-size: 20px;

}

table{
    width: 600px;
   
}

table thead{
    background-color: #CCC;
}

th, td{
    padding: 10px;
    text-align: left;
}

tbody tr:hover{
    background-color: #EEE;
}

tbody tr:nth-child(even){
    background-color: #DDD;
}

th{
    font-weight: normal;
}