body{
    margin: 0px;
}


.exemplo{
    border: 1px solid #00FF00;
    /*
    padding: 10px;
    padding-left: 45px;
    margin: 10px;
    margin-top: 200px;
    */

    /*
        em cima
        direita
        em baixo
        esquerda
    */

    padding: 10px 20px 5px 90px;
    margin: 0px 30px 50px 2px;   
}